@import './base.css';
@import './color.less';

#app {
  margin: 0 auto;
  font-weight: normal;
  margin: 0 auto;
}

body {
  background-color: hsl(var(--background));
  padding: 1rem 1rem;
  color: var(--color-text);
  transition:
    background-color 0.3s,
    color 0.3s;
}

@media screen and (min-width: 1024px) {
  #app {
    max-width: 1024px;
  }
}
