@import './base.css';
@import './color.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  margin: 0 auto;
}

body {
  background-color: #fafafa;
  padding: 1rem 1rem;
}

@media screen and (min-width: 1040px) {
  #app {
    width: 1040px;
  }
}
